body {
    font-family: sans-serif;
    background-color: #333333
}

h1,
h3,
h4 {
    color: #ffffff;
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h3 {
    font-size: 1.2em;
}

p {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
}