body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: #505050;
    border: 1px solid #dd0000;
}

h1, h3, h5, p, a, div, section, article, nav, footer {
    margin: 0;
    /*border: 1px solid #003cff;*/
}

h1 {
    border-bottom: 0.4mm solid rgb(125, 125, 125);
    color: rgb(36, 36, 36);
}

h3 {
    font-size: 1.5em;
}

p {
    color: rgb(36, 36, 36);
}

a {
    text-decoration: none;
    color: #ff4800;
}

.total-page {
    display: grid;
    grid-template-columns: auto minmax(auto, 225mm) auto;
    border: 1px solid #ffae00;
}

main {
    grid-column: 2/3;
    background-color: #eeeeee;
    border: 1px solid #51b400;
    padding: 5mm;
}

.mid-align {
    text-align: center;
}

/* All restaurants page */
.two-columns-layout {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(50mm, auto);
}

.first-column {
    grid-column: 1/2;
    padding-right: 5mm;
    border-right: 0.4mm solid rgb(200, 200, 200);
}

.second-column {
    grid-column: 2/3;
    padding-left: 5mm;
}

.edit-link {
    color: #0055c4;
}

.bold-text {
    font-weight: bold;
}

footer {
    border-top: 0.4mm solid rgb(150, 150, 150);
    margin-top: 5mm;
}