<!DOCTYPE html>
  <head>
    <link
      rel=stylesheet
      type=text/css
      href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <title>Rahul's Restaurants App</title>
  <body>
    <main>
      <section class="two-columns-layout">
        <nav class="first-column">
          <h1>Restaurants:</h1>
          <br>
          {% if logged_in == False %}
          <a class="edit-link" href="{{url_for('loginPg')}}">
            Please <b>Login</b> to Add a new Restaurant
          </a>
          {% else %}
          <a class="edit-link" href="{{url_for('addResPg')}}">
            <b>Add Restaurant</b>
          </a>
          {% endif %}
          <br>
          {% for res in all_res %}
          <br>
          <a href="{{url_for('resPg', res_id = res.id)}}">
            <b>{{res.name}}</b>
          </a><br>
            {% if res.creater_id|int() == user_id|int() and logged_in == True %}
          <a class="edit-link" href="{{url_for('editResPg', res_id = res.id)}}">
            Edit
          </a>
          <span> | </span>
          <a class="edit-link" href="{{url_for('delResPg', res_id = res.id)}}">
            Delete
          </a><br>
            {% endif %}
          {% endfor %}
        </nav>
        <article class="second-column">
          <h1>Latest Items:</h1>
          {% for item, res in items %}
          <br>
          <p>
            <b>{{item.name}}</b>
            <i> (<a href="{{url_for('resPg', res_id = res.id)}}">{{res.name}}</a>)
            </i>
          </p>
          {% endfor %}
        </article>
      </section>
      <footer>
        <br>
        {% if logged_in == True %}
        <a class="edit-link" href="{{url_for('disconnectPg')}}">
          Logout
        </a>
        {% else %}
        <a class="edit-link" href="{{url_for('loginPg')}}">
          <b>Login</b>
        </a>
        {% endif %}
        <br><br>
        <p>
          <b>Note:</b> Only the creater of the restaurant can make
            modifications to that restaurant.
        </p>
      </footer>
    </main>
  </body>
</html>