<!DOCTYPE html>
  <head>
    <link
      rel=stylesheet
      type=text/css
      href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <title>Restaurants</title>
  <body>
    <h1>Restaurants:</h1><br>
    {% if logged_in == False %}
    <a href="{{url_for('loginPg')}}">Please Login to Add a new Restaurant</a>
    {% else %}
    <a href="{{url_for('addResPg')}}">Add new Restaurant</a>
    {% endif %}
    {% for res in all_res %}
    <br><br>
    <a href="{{url_for('resPg', res_id = res.id)}}">{{res.name}}</a><br>
    {% if res.creater_id|int() == user_id|int() %}
    <a href="{{url_for('editResPg', res_id = res.id)}}">Edit</a>
    <a href="{{url_for('delResPg', res_id = res.id)}}">Delete</a>
    {% endif %}
    {% endfor %}
  </body>
</html>